/* Product image zoom out effect */

.inner{
    overflow: hidden;
}

.inner img {
    transition: all 0.8s ease;
}

.inner:hover img {
    transform: scale(1.2);
    opacity: 0.6;
}

html {
    scroll-behavior: smooth;
  }